
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.lead1 {
  text-align: center;
  color: #b70000;
}

.bg {
  background-color: #007b5e!important;
}


ul.social li{
	padding: 3px 0;
}
ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
 ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
ul.social li a,
ul.quick-links li a{
	color:#007b5e;
}
ul.social li a:hover{
	color:#ededed;
}
ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

.p{
  padding: 20px;
}